/* Write your CSS code here */
.header-home-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  width: 80%;
  align-self: center;
}

.hero-heading {
  font-size: 33px;
  text-align: center;
}

.hero-phone-image {
  width: 200px;
  margin-top: 15px;
}

.hero-description {
  font-size: 14px;
  color: #64748b;
  text-align: center;
  margin-top: 10px;
}

.shop-now-btn {
  width: 150px;
  height: 33px;
  background-color: #0967d2;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.hero-desk-img-container {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero-desk-img {
    display: block;
    width: 40%;
  }
  .hero-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .hero-heading {
    font-size: 45px;
    text-align: left;
  }
  .hero-description {
    font-size: 17px;
    text-align: left;
    margin-top: 10px;
  }
  .shop-now-btn {
    align-self: flex-start;
    margin-top: 15px;
    height: 40px;
    width: 180px;
    font-weight: 400;
    font-size: 18px;
  }
}

.home-container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .home-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: space-around;
  }
  .hero-phone-image {
    display: none;
  }
  .hero-desk-img-container {
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
  }
  .hero-desk-img {
    width: 90%;
  }
}
